---
- name: Template alertmanager.yml file
  template:
    src: "{{ role_path }}/templates/alertmanager.yml.j2"
    dest: "/home/{{ ansible_user }}/alertmanager.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0606

- name: Create Alertmanager docker container
  docker_container:
    name: alertmanager
    image: prom/alertmanager:latest
    pull: yes
    recreate: true
    restart_policy: unless-stopped
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
      - "--storage.path=/alertmanager"
    volumes:
      - "/home/{{ ansible_user }}/alertmanager.yml:/etc/alertmanager/alertmanager.yml"
      - "alertmanager-data:/alertmanager"
    networks:
      - name: traefiknet
    labels:
      traefik.enable: "true"
      traefik.http.routers.alertmanager.rule: "Host(`{{ alertmanager_domain }}`)"
      traefik.http.middlewares.alertmanager-retry.retry.attempts: "5"
      traefik.http.middlewares.alertmanager-retry.retry.initialinterval: "100ms"
      traefik.http.middlewares.alertmanager-cors.headers.accesscontrolallowmethods: "*"
      traefik.http.services.alertmanager.loadbalancer.server.scheme: "http"
      traefik.http.middlewares.monitoring-auth.basicauth.users: "admin:$apr1$yHJldjKp$YrCGejwxLiBLXKiiDKpbU1"
      traefik.http.routers.alertmanager.middlewares: "monitoring-auth, alertmanager-retry, alertmanager-cors"
