---
- hosts: localhost
  tasks:
    - name: Check if inventory is empty.
      fail:
        msg: "[ERROR] Empty inventory. No host available."
      when: groups.all|length == 0

- hosts: monitoring
  remote_user: admin
  vars_files:
    - vars/production.yml

  pre_tasks:
    - name: Update apt cache if needed.
      become: true
      apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Prune old Docker images older than 72h
      become: true
      docker_prune:
        images: true
        images_filters:
          until: "48h"

  roles:
    - role: geerlingguy.docker
      become: true
    #   vars:
    #     docker_users:
    #       - admin
    - role: traefik
    - role: prometheus
    # - role: alertmanager
    #   vars:
    #     alertmanager_domain: "{{ alertmanager_domain }}"
    - role: grafana
    - role: loki
        vars:
          loki_domain: "{{ loki_domain }}"
