---
- name: Create Loki config directory
  file:
    path: /home/admin/loki
    state: directory
    mode: '0755'
    owner: admin
    group: admin

- name: Copy Loki config
  copy:
    src: "{{ role_path }}/files/loki-config.yaml"
    dest: "/home/admin/loki/local-config.yaml"
    owner: admin
    group: admin
    mode: '0644'

- name: Create loki docker container
  docker_container:
    name: loki
    image: grafana/loki:latest
    pull: yes
    recreate: true
    restart_policy: unless-stopped
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - "/home/admin/loki/local-config.yaml:/etc/loki/local-config.yaml"
      - "loki_data:/loki"
    networks:
      - name: traefiknet
    labels:
      traefik.enable: "true"
      traefik.http.routers.loki.rule: "Host(`{{ loki_domain }}`)"
      traefik.http.services.loki.loadbalancer.server.port: "3100"
      traefik.http.services.loki.loadbalancer.server.scheme: "http"
      traefik.http.middlewares.loki-retry.retry.attempts: "5"
      traefik.http.middlewares.loki-retry.retry.initialinterval: "100ms"
      traefik.http.middlewares.loki-cors.headers.accesscontrolallowmethods: "*"
      traefik.http.routers.loki.middlewares: "loki-retry, loki-cors"
      traefik.http.middlewares.monitoring-auth.basicauth.users: "admin:$apr1$yHJldjKp$YrCGejwxLiBLXKiiDKpbU1"
      traefik.http.routers.loki.middlewares: "monitoring-auth"
