global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "/etc/prometheus/alerts/*.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090

  - job_name: alertmanager
    static_configs:
      - targets:
          - alertmanager:9093

  - job_name: NAS-node-exporter
    static_configs:
      - targets:
          - 193.198.39.243:9100

  - job_name: NAS-zfs-exporter
    static_configs:
      - targets:
          - 193.198.39.243:9145

  - job_name: ddays-exporter
    metrics_path: /api/metrics
    static_configs:
      - targets:
          - 35.156.24.115:80

  - job_name: ddays-node-exporter
    static_configs:
      - targets:
          - 35.156.24.115:9100

  - job_name: postgres-exporter
    metrics_path: /metrics
    static_configs:
      - targets:
          - localhost:9187

  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]
    file_sd_configs:
      - files:
        - '/etc/prometheus/targets/blackbox_targets.yml'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115
